@page
@model HomeWeb.App.Fronted.Pages.Lista_MascotasModel
@{
}

<h5>HOLA DESDE LA LISTA</h5>

<table class="table">

    @foreach (var mascota in Model.ListaMascotas)
    {
        
    <tr>
        <td>
            <h5>@mascota</h5>
        </td>
    </tr>
       }
</table>